.header {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.header__nav-list {
  min-width: 350px;
  margin-left: auto;
}

.header__nav-select {
  flex-basis: 100px;
  min-width: 100px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header__nav-list{
    display: flex;
    justify-content: center;
    min-width: 100%;

  }
  .header__nav-select{
    margin: 1rem auto 0 auto;
  }
}