{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": ["airbnb-base"],

  "parser": "babel-eslint",

  "plugins": [
    "jquery"
  ],
  "rules": {
    "no-plusplus":"off",
    "no-unused-vars":"off"
  }
}